<!-- Portfolio Start -->
<section id="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="portfolio-menu">
            <ul>
              <li class="filter" data-filter="all">Everything</li>
              {% assign filters = site.data.projects | group_by: 'category' %}
              {% for filter in filters %}
              <li class="filter" data-filter=".{{ filter.name }}">
                {{ filter.name }}
              </li>
              {% endfor %}
              <!-- <li class="filter" data-filter=".Websites">Websites</li>
              <li class="filter" data-filter=".Graphic">Graphic</li>
              <li class="filter" data-filter=".design">design</li>
              <li class="filter" data-filter=".Video">Video</li> -->
            </ul>
          </div>
          <div class="portfolio-contant">
            <ul id="portfolio-contant-active">
              {% for project in site.data.projects %}
              <li class="mix {{ project.category }}">
                <a href="#">
                  <img src="{{ project.img }}" alt="{{ prject.t}}" />
                  <div class="overly">
                    <div class="position-center">
                      <h2>{{ project.title}}</h2>
                      <p>{{ project.content }}</p>
                    </div>
                  </div>
                </a>
              </li>
              {% endfor %}
              <!-- <li class="mix Websites">
                <a href="#">
                  <img src="img/portfolio/work2.jpg" alt="" />
                  <div class="overly">
                    <div class="position-center">
                      <h2>Tesla Motors</h2>
                      <p>Labore et dolore magna aliqua. Ut enim ad</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="mix Graphic">
                <a href="#">
                  <img src="img/portfolio/work3.jpg" alt="" />
                  <div class="overly">
                    <div class="position-center">
                      <h2>Tesla Motors</h2>
                      <p>Labore et dolore magna aliqua. Ut enim ad</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="mix design">
                <a href="#">
                  <img src="img/portfolio/work4.jpg" alt="" />
                  <div class="overly">
                    <div class="position-center">
                      <h2>Tesla Motors</h2>
                      <p>Labore et dolore magna aliqua. Ut enim ad</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="mix Video">
                <a href="#">
                  <img src="img/portfolio/work5.jpg" alt="" />
                  <div class="overly">
                    <div class="position-center">
                      <h2>Tesla Motors</h2>
                      <p>Labore et dolore magna aliqua. Ut enim ad</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="mix Graphic">
                <a href="#">
                  <img src="img/portfolio/work6.jpg" alt="" />
                  <div class="overly">
                    <div class="position-center">
                      <h2>Tesla Motors</h2>
                      <p>Labore et dolore magna aliqua. Ut enim ad</p>
                    </div>
                  </div>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
